.hoat-dong-quoc-te {
  background-color: #fff;
  padding: 3rem 1rem;
  text-align: center;
  position: relative;
  margin-bottom: 1rem; /* Để tạo khoảng cách giữa phần này và phần dưới */
}
    
.hoatdongquocte-title {
  color: #004d4d;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: -5rem;
}
    
.gallery-container {
  position: relative;
  background-color: #2d2d2d;
  padding: 1rem 0; /* tăng khoảng cách trên dưới */
  margin: 0 auto;
  max-width: 1500px; /* phóng to chiều ngang khung */
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.main-image-frame {
  max-width: 800px;
  max-height: 500px;
  height: 700px;
  overflow: hidden;
}
    
.main-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
    
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  z-index: 10;
}
    
.nav-btn.left {
  left: 10px;
}
    
.nav-btn.right {
  right: 10px;
}
    
.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
    
.thumbnails {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #444;
  justify-content: center;
}
    
.thumbnail {
  width: 100px;
  height: 70px;
  object-fit: cover;
  opacity: 0.6;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
    
.thumbnail:hover,
.thumbnail.active {
  opacity: 1;
  border-color: red;
}
.chuc-nang::after {
    bottom: 0;
    top: auto;
}