---
import '../styles/gioithieu.css';
const houseIcon = "/img/iconngoinha.png"; 
const activityIcon = "/img/iconhoatdong.png";

---

<section id="gioithieu" class="gioithieu">
  <h2 class="gioi-thieu-title">Giới Thiệu</h2>

  <div class="gioi-thieu-columns">
    <div class="left-column">
      <img src={houseIcon} alt="Home Icon" class="icon" />
      <h2>Thành Lập</h2>
      <p>25/02/2014</p>
    </div>

    <div class="right-column">
    <img src={activityIcon} alt="Activity Icon" class="icon" />
      <h2>Hoạt Động</h2>
      <p>
      <br />
        Lĩnh vực truyền thông quảng cáo, software, xúc tiến thương mại, tổ chức sự kiện, sản xuất chương trình truyền hình, dịch vụ ẩm thực, sản xuất quà tặng,…
      </p>
    </div>
  </div>
</section>
