---
import '../styles/ketnoi.css';

const events = [
  {
    link: "http://ngaymoisaigon.com/116-K%E1%BA%BFt-n%E1%BB%91i-kinh-doanh-cung-Ngay-m%E1%BB%9Bi-Saigon",
    img: "/img/products/KNKD ngay moi saigon.jpg",
    alt: "Kết Nối Kinh Doanh Cùng Ngày Mới Saigon",
    caption: "Kết Nối Kinh Doanh Cùng Ngày Mới Saigon (26/8/2015)"
  },
  {
    link: "http://ngaymoisaigon.com/117-K%E1%BA%BFt-n%E1%BB%91i-kinh-doanh-Nong-nghi%E1%BB%87p-xanh",
    img: "/img/products/KNKD 7.9.jpg",
    alt: "Kết Nối Kinh Doanh - Nông Nghiệp Xanh",
    caption: "Kết Nối Kinh Doanh - Nông Nghiệp Xanh (7/9/2015)"
  },
  {
    link: "http://ngaymoisaigon.com/258-K%E1%BA%BET-N%E1%BB%90I-KINH-DOANH-%E1%BA%A8m-th%E1%BB%B1c-v%E1%BB%9Bi-cu%E1%BB%99c-s%E1%BB%91ng",
    img: "/img/products/KNKD 12.12.jpg",
    alt: "Kết Nối Kinh Doanh - Ẩm Thực Với Cuộc Sống",
    caption: "Kết Nối Kinh Doanh - Ẩm Thực Với Cuộc Sống (12/12/2015)"
  },
  {
    link: "http://ngaymoisaigon.com/304-K%E1%BA%BFt-n%E1%BB%91i-kinh-doanh-Chia-s%E1%BA%BB-trong-thong-di%E1%BB%87p-qu%E1%BA%A3ng-cao",
    img: "/img/products/chia se trogn thong diep quang cao.jpg",
    alt: "Kết Nối Kinh Doanh - Chia Sẻ Trong Thông Điệp Quảng Cáo",
    caption: 'Kết Nối Kinh Doanh - "Chia Sẻ Trong Thông Điệp Quảng Cáo" (28/12/2015)'
  },
  {
    link: "http://ngaymoisaigon.com/589-K%E1%BA%BFt-N%E1%BB%91i-Kinh-Doanh-Doanh-Nghi%E1%BB%87p-V%E1%BB%9Bi-C%E1%BB%99ng-D%E1%BB%93ng",
    img: "/img/products/dn voi cong  dong.jpg",
    alt: "Kết Nối Kinh Doanh - Doanh Nghiệp Với Cộng Đồng",
    caption: "Kết Nối Kinh Doanh - Doanh Nghiệp Với Cộng Đồng (26/4/2016)"
  },
  {
    link: "http://ngaymoisaigon.com/694-K%E1%BA%BFt-N%E1%BB%91i-Kinh-Doanh-H%E1%BB%A3p-Tac-Cung-Phat-Tri%E1%BB%83n",
    img: "/img/products/hop tac cugn phat trien.jpg",
    alt: "Kết Nối Kinh Doanh - Hợp Tác Cùng Phát Triển",
    caption: "Kết Nối Kinh Doanh - Hợp Tác cùng Phát Triển (14/06/2016)"
  },
  {
    link: "http://ngaymoisaigon.com/876-K%E1%BA%BFt-N%E1%BB%91i-Kinh-Doanh-Gi%E1%BA%A3i-Quy%E1%BA%BFt-Tranh-Ch%E1%BA%A5p-Thuong-M%E1%BA%A1i",
    img: "/img/products/gaii quyet tranh chap trogn thuong mai.jpg",
    alt: "Kết Nối Kinh Doanh - Giải Quyết Tranh Chấp Thương Mại",
    caption: "Kết Nối Kinh Doanh - Giải Quyết Tranh Chấp Thương Mại (29/09/2016)"
  },
  {
    link: "http://ngaymoisaigon.com/924-K%E1%BA%BFt-N%E1%BB%91i-Kinh-Doanh-Cu%E1%BB%99c-S%E1%BB%91ng-Xanh",
    img: "/img/products/cuoc song xanh (2).jpg",
    alt: "Kết Nối Kinh Doanh - Cuộc Sống Xanh",
    caption: "Kết Nối Kinh Doanh - Cuộc Sống Xanh (22/10/2016)"
  },
  {
    link: "http://ngaymoisaigon.com/1145-K%E1%BA%BFt-N%E1%BB%91i-Kinh-Doanh-Ph%E1%BB%A5-N%E1%BB%AF-Khat-V%E1%BB%8Dng",
    img: "/img/products/KNKD 8.3.jpg",
    alt: "Kết Nối Kinh Doanh - Phụ Nữ & Khát Vọng",
    caption: "Kết Nối Kinh Doanh - Phụ Nữ & Khát Vọng (8/3/2017)"
  },
  {
    link: "http://ngaymoisaigon.com/1346-K%E1%BA%BFt-n%E1%BB%91i-kinh-doanh-Doanh-nhan-va-S%E1%BB%A9c-kh%E1%BB%8Fe",
    img: "/img/products/KNKD - DN VA SUC KHOE.jpg",
    alt: "Kết Nối Kinh Doanh - Doanh Nhân Và Sức Khỏe",
    caption: "Kết Nối Kinh Doanh - Doanh Nhân Và Sức Khỏe (18/07/2017)"
  },
];
---

<section id="ket-noi-kinh-doanh" class="ket-noi-kinh-doanh">
  <h2 class="ket-noi-title">Tổ Chức Sự Kiện Kết Nối Kinh Doanh</h2>
  <div class="images-ketnoikinhdoanh">
    {events.map((event) => (
      <div class="image-ketnoikinhdoanh">
        <a href={event.link} target="_blank">
          <img src={event.img} alt={event.alt} />
          <p class="caption">{event.caption}</p>
        </a>
      </div>
    ))}
  </div>
</section>
