---
import '../styles/lienhe.css';
---

<footer id="lien-he" class="lien-he">
  <div class="footer-container">
    <div class="footer-left">
      <p class="company-name">Công ty TNHH TMAI Sài Gòn - Website: tmaisaigon.vn</p>
      <p><strong>Văn phòng:</strong> HM Town, 412 Nguyễn Thị Minh Khai, P. 5, Quận 3, TPHCM</p>
      <p><strong>Điện thoại:</strong> 08.65.327.003</p>
      <p><strong>Email:</strong> ngaymoisaigon@gmail.com; tmaisaigon@ngaymoisaigon.com</p>
      <p><strong>Website:</strong> ngaymoisaigon.com - ngaymoisaigon.vn</p>
      <img src="/img/logo_tmaisaigon.jpg" alt="Logo công ty" class="footer-logo" />
      <p>Bản quyền thuộc về công ty TNHH TMAI Sài Gòn ©2016</p>
    </div>
    
    <div class="footer-right">
      <img src="/img/logotmai_X_56.png" class="footer-image" alt="Logo TMai" />
      <img src="/img/lonicerasaigon.png" class="footer-image" alt="Logo Lonicera" />
    </div>
  </div>
</footer>
