---
import '../styles/map.css';
---

<section class="contact-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0792957377316!2d106.68200037590193!3d10.785583889366188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f07b3a24645%3A0x8190331668205de4!2zVMO0YSBuaMOgIEhNIFRvd24!5e0!3m2!1svi!2s!4v1715167771234!5m2!1svi!2s"
    allowfullscreen
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
