---
import '../styles/sanphamdautu.css';

const products = [
  {
    href: "http://ngaymoisaigon.com/7292-Ngay-m%E1%BB%9Bi-Saigon-Phat-tri%E1%BB%83n-cac-cong-ngh%E1%BB%87-m%E1%BB%9Bi-L%E1%BB%A3i-ich-b%E1%BB%81n-v%E1%BB%AFng-cho-khach-hang",
    src: "/img/products/saigon_newday_9_7_23.jpg",
    alt: "Bìa tạp chí Sài Gòn New Day 9/7/2023"
  },
  {
    href: "http://ngaymoisaigon.com/5164-Ngay-M%E1%BB%9Bi-Saigon-Mu%E1%BB%91n-kinh-doanh-t%E1%BB%91t-s%E1%BA%A3n-ph%E1%BA%A9m-r%E1%BA%A5t-quan-tr%E1%BB%8Dng",
    src: "/img/products/ngaymoisaigon_BIA 1_TGD Ford VN - 05_12_2019.jpg",
    alt: "Tổng Giám đốc Ford Việt Nam trên bìa 05/12/2019"
  },
  {
    href: "http://ngaymoisaigon.com/4625-Ngay-M%E1%BB%9Bi-Saigon-Hay-yeu-va-t%E1%BA%ADn-hu%E1%BB%9Fng-cong-vi%E1%BB%87c",
    src: "/img/products/ngaymoisaigon_bia1_hay_yeu_va_tan_huong_cong_viec_Becamex_1_7_2019.jpg",
    alt: "Hãy yêu và tận hưởng công việc - Becamex 1/7/2019"
  },
  {
    href: "http://ngaymoisaigon.com/2663-Hoa-H%E1%BA%ADu-Doanh-Nhan-Hoan-Vu-2018-Chau-Ng%E1%BB%8Dc-Bich-D%E1%BB%ABng-danh-gia-nhan-vien-sai",
    src: "/img/products/ngaymoisaigon_bia_Chau Ngoc Bich_9_18.jpg",
    alt: "Châu Ngọc Bích trên bìa tháng 9/2018"
  },
  {
    href: "http://ngaymoisaigon.com/1616-Khi-ph%E1%BB%A5-n%E1%BB%AF-vuon-len-chung-ta-cung-th%E1%BB%8Bnh-vu%E1%BB%A3ng",
    src: "/img/products/ngaymoisaigon_Ly_Ngoc_Bach_Cuong_Phat_1_2_18.jpg",
    alt: "Lý Ngọc Bách - Cường Phát trên bìa 1/2/2018"
  },
  {
    href: "http://ngaymoisaigon.com/1143-Ngay-M%E1%BB%9Bi-Saigon-Ph%E1%BB%A5-N%E1%BB%AF-Khat-V%E1%BB%8Dng",
    src: "/img/products/ngaymoisaigon_bia_thuy_dung_3_4_17.jpg",
    alt: "Thùy Dung trên bìa tạp chí 3/4/2017"
  },
  {
    href: "http://ngaymoisaigon.com/1079-Ngay-M%E1%BB%9Bi-Saigon-Cu%E1%BB%99c-S%E1%BB%91ng-Xanh",
    src: "/img/products/saigon_newday_14_1_17_JPG.jpg",
    alt: "Bìa tạp chí Sài Gòn New Day 14/1/2017"
  },
  {
    href: "http://ngaymoisaigon.com/821-Ngay-M%E1%BB%9Bi-Saigon-Saigon-New-Day",
    src: "/img/products/ngaymoisaigon_bia_ngaymoi_9_10_16_j.jpg",
    alt: "Bìa Ngày Mới Sài Gòn 9/10/2016"
  },
  {
    href: "http://ngaymoisaigon.com/663-Ngay-M%E1%BB%9Bi-Saigon-Nh%E1%BB%AFng-C%E1%BB%91ng-Hi%E1%BA%BFn-C%E1%BB%A7a-Ph%E1%BB%A5-N%E1%BB%AF-Vi%E1%BB%87t",
    src: "/img/products/ngaymoisaigon_bia_6_7_16.jpg",
    alt: "Bìa tạp chí số 6/7/2016"
  },
  {
    href: "http://ngaymoisaigon.com/553-Ngay-m%E1%BB%9Bi-Saigon-T%E1%BA%A1o-Thuong-hi%E1%BB%87u-cho-ngu%E1%BB%9Di-h%E1%BB%8Dc",
    src: "/img/products/ngaymoisaigon_4_5_16.jpg",
    alt: "Bìa số tháng 4/5/2016"
  },
  {
    href: "http://ngaymoisaigon.com/188-Ngay-M%E1%BB%9Bi-Saigon-Minh-ch%E1%BB%A9ng-cho-nh%E1%BB%AFng-gia-tr%E1%BB%8B-b%E1%BB%81n-v%E1%BB%AFng-t%E1%BA%A1i-Vi%E1%BB%87t-Nam",
    src: "/img/products/ngaymoisaigon_bia9-10_15.jpg",
    alt: "Bìa tạp chí số 9–10/2015"
  },
  {
    href: "http://ngaymoisaigon.com/247-Ngay-M%E1%BB%9Bi-Saigon-Nh%E1%BB%AFng-Thuong-Hi%E1%BB%87u-Phat-Tri%E1%BB%83n-B%E1%BB%81n-V%E1%BB%AFng",
    src: "/img/products/ngaymoisaigon_thang_5_6_15.jpg",
    alt: "Bìa tháng 5–6/2015"
  },
  {
    href: "http://ngaymoisaigon.com/30-Ngay-M%E1%BB%9Bi-Saigon-Nh%E1%BB%AFng-Gia-Tr%E1%BB%8B-Vi%E1%BB%87t",
    src: "/img/products/ngay-moi-sai-gon-1_2_15.png",
    alt: "Bìa Ngày Mới Sài Gòn số 1–2/2015"
  },
  {
    href: "http://ngaymoisaigon.com/29-Ngay-M%E1%BB%9Bi-Saigon-Net-m%E1%BB%9Bi-trong-nh%E1%BB%AFng-gi-dang-hi%E1%BB%87n-h%E1%BB%AFu",
    src: "/img/products/ngaymosaigon_bia_so_1_11_12_14.jpg",
    alt: "Bìa số 1 tháng 11–12/2014"
  }
];
---

<section id="san-pham-dau-tu" class="san-pham-dau-tu">
  <h2 class="san-pham-title">Sản Phẩm Đầu Tư</h2>
  <div class="images-sanphamdautu">
    {products.map(product => (
      <div class="image-sanphamdautu">
        <a href={product.href} target="_blank">
          <img src={product.src} alt={product.alt} />
        </a>
      </div>
    ))}
  </div>
</section>
