---
import '../styles/websites.css';
---

<section id="san-pham-websites" class="san-pham-websites">
  <h2 class="san-pham-title">Sản Phẩm Websites</h2>
  <div class="images-sanphamwebsites">
    <div class="image-sanphamwebsites">
      <a href="http://ngaymoisaigon.com/" target="_blank">
        <img src="/img/products/web_nmsg.png" alt="Website Ngày Mới Saigon - Kết Nối Kinh Doanh Cùng Ngày Mới Saigon" />
        <p class="caption">Ngày Mới Saigon</p>
        <p class="additional-info">Trang thông tin tổng hợp</p>
      </a>
    </div>
    <div class="image-sanphamwebsites">
      <a href="http://lonicerasaigon.com/" target="_blank">
        <img src="/img/products/lonicerasaigon.jpg" alt="Website Lonicerasaigon - Kết Nối Kinh Doanh - Nông Nghiệp Xanh" />
        <p class="caption">lonicerasaigon.com</p>
        <p class="additional-info">Trang dịch vụ cung cấp những sản phẩm về lifestyle</p>
      </a>
    </div>
    <div class="image-sanphamwebsites">
      <a href="https://inhoadonbieumau.com/" target="_blank">
        <img src="/img/products/inhoadonbieumau.JPG" alt="Website Inhoadonbieumau - Kết Nối Kinh Doanh - Ẩm Thực Với Cuộc Sống" />
        <p class="caption">inhoadonbieumau.com</p>
        <p class="additional-info">Trang cung cấp thiết kế bao bì, thiệp cưới, bảng hiệu, tờ rơi, hóa đơn...</p>
      </a>
    </div>
    <div class="image-sanphamwebsites">
      <a href="https://ahamua.vn/" target="_blank">
        <img src="/img/products/ahamua.JPG" alt="Website Ahamua - Kết Nối Kinh Doanh - Chia Sẻ Trong Thông Điệp Quảng Cáo" />
        <p class="caption">ahamua.vn</p>
        <p class="additional-info">Trang thương mại điện tử chuyên về nông sản</p>
      </a>
    </div>
  </div>
</section>

